---
layout: default
---

    <ul class="post-list">

<div class="home">
    <ul class="post-list">
    {% for post in site.posts %}
      <li class="post">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <figure style="background-image: url({{ post.header-image | prepend: site.baseurl }});">
            <img>
          </figure>
        </a>
        <ul class="categories sss">
          {% for category in post.categories %}
            <li class="{{ category }}">
              <span>{{ category }}</span>
            </li>
          {% endfor %} 
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>