<li class="post">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <figure style="background-image: url({{ post.header-image | prepend: site.baseurl }});">
      <figcaption style="background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, {{post.base-color}});">{{post.title}}</figcaption>
    </figure>
  </a>
  <ul class="tags">
    {% for element in post.my-work %}
      <li style="background-image: url({{element.image}})">
        <span>{{ element.name }}</span>
      </li>
    {% endfor %}
  </ul>
</li>
