body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    // font-family: $base-font-family;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    margin: 0;
    padding: 0;
}

body {
    // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-image: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, 
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

li {
    list-style: none;
}

a {
    color: $brand-color;
    text-decoration: none;
}

.page-content {
    position: relative;
}

.wrapper {
    position: relative;
    z-index: 1;
}
