.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	font-family: $alternative-font;
	max-width: $content-width;
	width: 100%;
	transform: translate(0, 0);
	z-index: 2;
	pointer-events: none;
	@include media-query($on-palm) {
		top: 50px;
		left: 52%;
		transform: translate(-50%, 0);
	}
	h1 {
		font-family: 'Lato', sans-serif;
		a {
			display: inline-block;
		}
		strong {
			display: inline-block;
			width: 100%;
			letter-spacing: -34px;
			font-weight: 900;
			font-size: 14rem;
			line-height: 13rem;
		}
		span {
			display: inline-block;
			width: 100%;
			font-size: 2.4rem;
		}
	}
	aside {
		width: 90%;
		padding: 5%;
		pointer-events: all;
		text-align: center;
		@include media-query($on-palm) {
			width: 320px;
			padding: 0;
			text-align: left;
		}
	}
	h3 {
		color: white;
		font-size: 1.4em;
		font-style: italic;
		line-height: 1.6em;
		padding: 10px 0;
	}
	li {
		font-weight: 700;
		color: white;
		padding-bottom: 5px;
		img {
			height: 20px;
		}
		a {
			vertical-align: middle;
		}
	}
	&.sticky {
		position: static;
		@include media-query($on-palm) {
			position: fixed;
	    }
	}
}