.sidebar {
	position: fixed;
	top: 8%;
	left: 52%;
	font-family: $alternative-font;
	max-width: $content-width;
	width: 100%;
	transform: translate(-50%, 0);
	z-index: 2;
	pointer-events: none;
	aside {
		width: 300px;
		pointer-events: all;
	}
	h3 {
		color: white;
		font-size: 1.4em;
		font-style: italic;
	}
	li {
		font-weight: 700;
		color: white;
	}
}