---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header" style="background-image: url({{page.header-image}})">
		<div class="details">
			<ul>
				{% for tag in page.tags %}
					<li class="{{ tag }}">
						<span>{{ tag }}</span>
					</li>
				{% endfor %}
			</ul>
			<h2><a href="{{ page.website }}" target="_blank">{{ page.title }}</a></h2>
		</div>
	</header>

	<div class="post-content">
		<header class="content-header">
			<h3>Client: <strong>{{ page.client }}</strong></h3>
			<h3><a href="{{ page.website }}" target="_blank">{{ page.website }}</a></h3>
		</header>
		{{ content }}
	</div>
</article>
